.warehouse .header{
    background: #E5E5E5 !important;
    border: 0;
}
.gyn-table-container{
    box-shadow: none;
}
.input-secondary::placeholder{
    color: #fff;
}
.input-secondary{
    color: #fff;
}